school-booking-workflow.json
{
  "name": "School Admission Pre-Registration & Booking System",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Diiwaangelinta Hore ee Ardayda (Pre-Registration Form)",
        "formDescription": "=Fadlan u dooro dugsigaaga liiska hoose si aad ballan ula qabsato maamulka.\n\n---\n*System Developed by: Adnan's Automation Agency*",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Select your School (Dooro Dugsigaaga)",
              "required": true,
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "name": "Al-Nuur School",
                    "value": "SCH-AL-NUUR"
                  },
                  {
                    "name": "Somali School",
                    "value": "SCH-SOM-02"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Parent Name (Magaca Waalidka)",
              "required": true
            },
            {
              "fieldLabel": "Parent Phone Number (Tel-ka Waalidka)",
              "required": true,
              "fieldType": "tel"
            },
            {
              "fieldLabel": "Student Name (Magaca Ardayga)",
              "required": true
            },
            {
              "fieldLabel": "Student Grade (Fasalka loo diiwaangelinayo)",
              "required": true,
              "placeholder": "Tusaale: Grade 1, Grade 5, etc."
            },
            {
              "fieldLabel": "Preferred Meeting Date (Taariikhda ballanta)",
              "required": true,
              "placeholder": "Tusaale: Sabti, 15-ka Luulyo, 9:00 AM"
            }
          ]
        },
        "options": {}
      },
      "id": "form-trigger",
      "name": "n8n Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "operation": "lookup",
        "documentId": {
          "__rl": true,
          "value": "1uGRu30EIfFeRTSG-TG5lVj2QATA7yRFw5x1YBtoVev0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Schools_Register",
          "mode": "name"
        },
        "lookupColumn": "SchoolID",
        "lookupValue": "={{ $json[\"Select your School (Dooro Dugsigaaga)\"] }}"
      },
      "id": "check-school",
      "name": "Check School Registry",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        300,
        300
      ],
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-is-active",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Active",
              "operator": "equals"
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is-school-active",
      "name": "Is School Active?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "operation": "lookup",
        "documentId": {
          "__rl": true,
          "value": "1uGRu30EIfFeRTSG-TG5lVj2QATA7yRFw5x1YBtoVev0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "School_Leads",
          "mode": "name"
        },
        "lookupColumn": "SchoolID",
        "lookupValue": "={{ $('n8n Form Trigger').first().json[\"Select your School (Dooro Dugsigaaga)\"] }}"
      },
      "id": "get-current-bookings",
      "name": "Get Current Bookings",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        720,
        200
      ],
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "jsCode": "const bookings = $input.all();\nconst validBookings = bookings.filter(b => b.json.SchoolID);\nconst currentCount = validBookings.length;\n\nconst maxCapacity = parseInt($('Check School Registry').first().json.MaxCapacity) || 100;\nconst limitReached = currentCount >= maxCapacity;\n\nreturn {\n  current_bookings: currentCount,\n  max_capacity: maxCapacity,\n  limit_reached: limitReached,\n  school_name: $('Check School Registry').first().json.SchoolName,\n  principal_email: $('Check School Registry').first().json.PrincipalEmail,\n  whatsapp_number: $('Check School Registry').first().json.WhatsAppNumber\n};"
      },
      "id": "check-capacity-limit",
      "name": "Check Capacity Limit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-limit-reached",
              "leftValue": "={{ $json.limit_reached }}",
              "rightValue": "true",
              "operator": "equals"
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is-limit-reached",
      "name": "Is Limit Reached?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1160,
        200
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uGRu30EIfFeRTSG-TG5lVj2QATA7yRFw5x1YBtoVev0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "School_Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SchoolID": "={{ $('n8n Form Trigger').first().json[\"Select your School (Dooro Dugsigaaga)\"] }}",
            "ParentName": "={{ $('n8n Form Trigger').first().json[\"Parent Name (Magaca Waalidka)\"] }}",
            "ParentPhone": "={{ $('n8n Form Trigger').first().json[\"Parent Phone Number (Tel-ka Waalidka)\"] }}",
            "StudentName": "={{ $('n8n Form Trigger').first().json[\"Student Name (Magaca Ardayga)\"] }}",
            "StudentGrade": "={{ $('n8n Form Trigger').first().json[\"Student Grade (Fasalka loo diiwaangelinayo)\"] }}",
            "MeetingDate": "={{ $('n8n Form Trigger').first().json[\"Preferred Meeting Date (Taariikhda ballanta)\"] }}",
            "DateCreated": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
            "Status": "Pending"
          }
        }
      },
      "id": "add-to-leads",
      "name": "Add to Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        1380,
        100
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Check School Registry').first().json.PrincipalEmail }}",
        "subject": "🔔 Diiwaangelin iyo Ballan Cusub - {{ $('n8n Form Trigger').first().json[\"Student Name (Magaca Ardayga)\"] }}",
        "messageType": "html",
        "html": "=<h2>Diiwaangelin Hore iyo Ballan Cusub</h2>\n<p>Maamule, waxaa jira waalid raba inuu ilmo iska diiwaangeliyo dugsigaaga <strong>{{ $('Check School Registry').first().json.SchoolName }}</strong>.</p>\n<p><strong>Faahfaahinta Ballanta:</strong></p>\n<ul>\n  <li><strong>Magaca Waalidka:</strong> {{ $('n8n Form Trigger').first().json[\"Parent Name (Magaca Waalidka)\"] }}</li>\n  <li><strong>Tel-ka Waalidka:</strong> {{ $('n8n Form Trigger').first().json[\"Parent Phone Number (Tel-ka Waalidka)\"] }}</li>\n  <li><strong>Magaca Ardayga:</strong> {{ $('n8n Form Trigger').first().json[\"Student Name (Magaca Ardayga)\"] }}</li>\n  <li><strong>Fasalka:</strong> {{ $('n8n Form Trigger').first().json[\"Student Grade (Fasalka loo diiwaangelinayo)\"] }}</li>\n  <li><strong>Taariikhda Ballanta:</strong> {{ $('n8n Form Trigger').first().json[\"Preferred Meeting Date (Taariikhda ballanta)\"] }}</li>\n</ul>\n<br>\n<p><em>Fadlan u diyaari qaabilaadda taariikhdaas ku xusan.</em></p>"
      },
      "id": "notify-principal",
      "name": "Notify Principal",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1600,
        100
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "response",
              "value": "=Hambalyo! Ballantaada waa la diiwaangeliyay taariikhda: {{ $('n8n Form Trigger').first().json[\"Preferred Meeting Date (Taariikhda ballanta)\"] }}.\n\nMagaca Dugsiga: {{ $('Check School Registry').first().json.SchoolName }}\nWhatsApp-ka Dugsiga: {{ $('Check School Registry').first().json.WhatsAppNumber }}\n\nFadlan la xiriir lambarkaas wixii faahfaahin ah ka hor inta aadan imaan dugsiga. Waad mahadsan tahay!"
            }
          ]
        },
        "options": {}
      },
      "id": "show-confirmation",
      "name": "Show Confirmation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1820,
        100
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "response",
              "value": "=Waan ka xumahay, diiwaangelinta dugsiga {{ $json.school_name }} hadda waa ay xirantay sababtoo ah kuraastii loogu talagalay (capacity limit oo ah {{ $json.max_capacity }}) waa ay buuxsantay.\n\nFadlan wixii faahfaahin dheeraad ah kala xiriir maamulka dugsiga: {{ $json.whatsapp_number }}"
            }
          ]
        },
        "options": {}
      },
      "id": "show-capacity-error",
      "name": "Show Capacity Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1380,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "response",
              "value": "Qalad: Dugsiga aad dooratay hadda diyaar ma aha, ama adeegga ayaa hakan. Fadlan la xiriir maamulka dhexe."
            }
          ]
        },
        "options": {}
      },
      "id": "show-registry-error",
      "name": "Show Registry Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    response: $json.response\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2100,
        250
      ]
    }
  ],
  "connections": {
    "n8n Form Trigger": {
      "main": [
        [
          {
            "node": "Check School Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check School Registry": {
      "main": [
        [
          {
            "node": "Is School Active?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is School Active?": {
      "main": [
        [
          {
            "node": "Get Current Bookings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Show Registry Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Bookings": {
      "main": [
        [
          {
            "node": "Check Capacity Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Capacity Limit": {
      "main": [
        [
          {
            "node": "Is Limit Reached?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Limit Reached?": {
      "main": [
        [
          {
            "node": "Show Capacity Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add to Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Leads": {
      "main": [
        [
          {
            "node": "Notify Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Principal": {
      "main": [
        [
          {
            "node": "Show Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Show Confirmation": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Show Capacity Error": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Show Registry Error": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionTimeout": -1
  },
  "id": "school-booking-system-workflow"
}
