school-ai-chatbot-workflow.json
{
  "name": "Multi-Tenant AI School Inquiry Agent (SaaS)",
  "nodes": [
    {
      "parameters": {
        "formTitle": "School AI Chatbot Widget (Demo Portal)",
        "formDescription": "Ku tijaabi chatbot-ka adigoo dooranaya dugsiga saxda ah.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "School ID",
              "required": true,
              "placeholder": "Tusaale: SCH-ABDI-01 ama SCH-NOOR-02"
            },
            {
              "fieldLabel": "Parent Name",
              "required": true
            },
            {
              "fieldLabel": "Parent Phone Number",
              "required": true,
              "fieldType": "tel"
            },
            {
              "fieldLabel": "Parent Email Address",
              "required": true,
              "fieldType": "email"
            },
            {
              "fieldLabel": "Your Inquiry (Su'aashaada)",
              "required": true,
              "placeholder": "Tusaale: Waa maxay qiimaha dugsiga hoose? ama Waxaan rabaa inaan diiwaangeliyo gabadhayda."
            }
          ]
        },
        "options": {}
      },
      "id": "form-trigger",
      "name": "n8n Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "operation": "lookup",
        "documentId": {
          "__rl": true,
          "value": "1uGRu30EIfFeRTSG-TG5lVj2QATA7yRFw5x1YBtoVev0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Schools_Register",
          "mode": "name"
        },
        "lookupColumn": "SchoolID",
        "lookupValue": "={{ $json[\"School ID\"] }}"
      },
      "id": "check-school-registry",
      "name": "Check School Registry",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        320,
        300
      ],
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-is-active",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Active",
              "operator": "equals"
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is-school-active",
      "name": "Is School Active?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        540,
        300
      ]
    },
    {
      "parameters": {
        "operation": "lookup",
        "documentId": {
          "__rl": true,
          "value": "1uGRu30EIfFeRTSG-TG5lVj2QATA7yRFw5x1YBtoVev0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Schools_Knowledge",
          "mode": "name"
        },
        "lookupColumn": "SchoolID",
        "lookupValue": "={{ $('n8n Form Trigger').first().json[\"School ID\"] }}"
      },
      "id": "fetch-knowledge-base",
      "name": "Fetch School Knowledge",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        780,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet kbText = \"\";\nfor (const item of items) {\n  if (item.json.Topic && item.json.Information) {\n    kbText += `- ${item.json.Topic}: ${item.json.Information}\\n`;\n  }\n}\nreturn {\n  school_id: $('Check School Registry').first().json.SchoolID,\n  school_name: $('Check School Registry').first().json.SchoolName,\n  principal_email: $('Check School Registry').first().json.PrincipalEmail,\n  calendar_link: $('Check School Registry').first().json.CalendarLink,\n  knowledge_base: kbText || \"Ma jiraan wax macluumaad dheeraad ah oo hadda yaal.\"\n};"
      },
      "id": "format-knowledge-base",
      "name": "Format Knowledge Base",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        200
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "prompt",
              "value": "=You are a helpful AI assistant representing the school \"{{ $json.school_name }}\".\nYour job is to answer the parent's inquiry politely, professionally, and in their own language (if they ask in Somali, answer in Somali. If they ask in English, answer in English).\n\nHere is the official knowledge base of the school:\n{{ $json.knowledge_base }}\n\nParent Inquiry Details:\n- Parent Name: {{ $('n8n Form Trigger').first().json[\"Parent Name\"] }}\n- Inquiry: \"{{ $('n8n Form Trigger').first().json[\"Your Inquiry (Su'aashaada)\"] }}\"\n\nInstructions:\n1. Answer ONLY using the facts listed in the school knowledge base above. If the information is not in the knowledge base, politely tell them that you do not have that detail and they can speak with the administration.\n2. If the parent explicitly says they want to register, apply, enroll their child, or book a meeting/appointment with the principal, you must:\n   - Polite agree to help them book a meeting.\n   - End your response with the exact tag: [BOOK_MEETING] (Include the square brackets)."
            }
          ]
        },
        "options": {}
      },
      "id": "generate-prompt",
      "name": "Generate Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1220,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key=YOUR_GEMINI_API_KEY_HERE",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"{{ $json.prompt }}\"\n    }]\n  }]\n}",
        "options": {}
      },
      "id": "gemini-api",
      "name": "Gemini AI Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nlet rawText = \"\";\n\ntry {\n  rawText = response.body.candidates[0].content.parts[0].text;\n} catch (e) {\n  rawText = \"Waan ka xumahay, qalad farsamo ayaa dhacay. Fadlan mar kale isku day.\";\n}\n\nconst bookMeeting = rawText.includes(\"[BOOK_MEETING]\");\n// Clean the tag so the parent doesn't see it\nconst cleanedText = rawText.replace(\"[BOOK_MEETING]\", \"\").trim();\n\nreturn {\n  reply: cleanedText,\n  book_meeting: bookMeeting,\n  school_id: $('Format Knowledge Base').first().json.school_id,\n  school_name: $('Format Knowledge Base').first().json.school_name,\n  principal_email: $('Format Knowledge Base').first().json.principal_email,\n  calendar_link: $('Format Knowledge Base').first().json.calendar_link\n};"
      },
      "id": "extract-ai-response",
      "name": "Extract AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-should-book",
              "leftValue": "={{ $json.book_meeting }}",
              "rightValue": "true",
              "operator": "equals"
            }
          ],
          "combinator": "and"
        }
      },
      "id": "should-book-meeting",
      "name": "Should Book Meeting?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1880,
        200
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uGRu30EIfFeRTSG-TG5lVj2QATA7yRFw5x1YBtoVev0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "School_Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SchoolID": "={{ $('Extract AI Response').first().json.school_id }}",
            "ParentName": "={{ $('n8n Form Trigger').first().json[\"Parent Name\"] }}",
            "ParentPhone": "={{ $('n8n Form Trigger').first().json[\"Parent Phone Number\"] }}",
            "ParentEmail": "={{ $('n8n Form Trigger').first().json[\"Parent Email Address\"] }}",
            "Message": "={{ $('n8n Form Trigger').first().json[\"Your Inquiry (Su'aashaada)\"] }}",
            "Date": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
            "Status": "New"
          }
        }
      },
      "id": "add-to-leads",
      "name": "Add to Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        2120,
        100
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Extract AI Response').first().json.principal_email }}",
        "subject": "🔔 Lead Cusub: Admission Inquiry - {{ $('n8n Form Trigger').first().json[\"Parent Name\"] }}",
        "messageType": "html",
        "html": "=<h2>Student Admission Inquiry (Lead)</h2>\n<p>Maamule, waxaa jira waalid raba inuu arday iska diiwaangeliyo dugsigaaga <strong>{{ $('Extract AI Response').first().json.school_name }}</strong>.</p>\n<p><strong>Xogta Waalidka:</strong></p>\n<ul>\n  <li><strong>Magaca:</strong> {{ $('n8n Form Trigger').first().json[\"Parent Name\"] }}</li>\n  <li><strong>Tel:</strong> {{ $('n8n Form Trigger').first().json[\"Parent Phone Number\"] }}</li>\n  <li><strong>Email:</strong> {{ $('n8n Form Trigger').first().json[\"Parent Email Address\"] }}</li>\n  <li><strong>Su'aasha:</strong> {{ $('n8n Form Trigger').first().json[\"Your Inquiry (Su'aashaada)\"] }}</li>\n</ul>\n<br>\n<p><em>Fadlan kala xiriir telefoonka si aad u dhammaystirto isdiiwaangelinta.</em></p>"
      },
      "id": "notify-principal",
      "name": "Notify Principal",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2340,
        100
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "final_reply",
              "value": "={{ $('Extract AI Response').first().json.reply + \"\\n\\n📅 Si aad ballan toos ah ula qabsato Maamulaha, fadlan guji link-gaan: \" + $('Extract AI Response').first().json.calendar_link }}"
            }
          ]
        },
        "options": {}
      },
      "id": "append-calendar-link",
      "name": "Append Calendar Link",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2560,
        100
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "final_reply",
              "value": "={{ $('Extract AI Response').first().json.reply }}"
            }
          ]
        },
        "options": {}
      },
      "id": "no-meeting-needed",
      "name": "No Meeting Needed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2120,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\nreturn [{\n  json: {\n    response: response.final_reply\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        200
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "response",
              "value": "Waan ka xumahay, Dugsiga aad raadinayso (School ID) kuma jiro nidaamkayaga ama adeegga ayaa laga hakyay. Fadlan la xiriir maamulka dhexe."
            }
          ]
        },
        "options": {}
      },
      "id": "unauthorized-error",
      "name": "Unauthorized Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        780,
        400
      ]
    }
  ],
  "connections": {
    "n8n Form Trigger": {
      "main": [
        [
          {
            "node": "Check School Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check School Registry": {
      "main": [
        [
          {
            "node": "Is School Active?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is School Active?": {
      "main": [
        [
          {
            "node": "Fetch School Knowledge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch School Knowledge": {
      "main": [
        [
          {
            "node": "Format Knowledge Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Knowledge Base": {
      "main": [
        [
          {
            "node": "Generate Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Prompt": {
      "main": [
        [
          {
            "node": "Gemini AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini AI Agent": {
      "main": [
        [
          {
            "node": "Extract AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract AI Response": {
      "main": [
        [
          {
            "node": "Should Book Meeting?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Book Meeting?": {
      "main": [
        [
          {
            "node": "Add to Leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Meeting Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Leads": {
      "main": [
        [
          {
            "node": "Notify Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Principal": {
      "main": [
        [
          {
            "node": "Append Calendar Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Calendar Link": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Meeting Needed": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unauthorized Error": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionTimeout": -1
  },
  "id": "multi-tenant-school-ai-agent"
}
